body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1{
    color: #CE0A86; 
    font-weight: 700;
}

h1, h3{
    color: #CE0A86; 
    font-weight: 200;
}

h4 {
    margin-bottom: 8px;
    color: #000;
}

.container {
    width: 100%;
    max-width: 900px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
}

.hidden {
    display: none;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls select,
.controls input {
    padding: 8px;
    font-size: 14px;
}

.controls button {
    padding: 8px 14px;
    background: #CE0A86;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.controls button:hover {
    background: #FEF0F9;
    color: #CE0A86;
}

#loadingMessage {
    background: #fff;
    color: #ffd43b;
    padding: 10px;
    border-left: 4px solid #ffd43b;
    margin-bottom: 15px;
    border-radius: 4px;
}

#errorMessage {
    background: #FDF2F2;
    color: #C12D1D;
    padding: 10px;
    border-left: 4px solid #C12D1D;
    margin-bottom: 15px;
    border-radius: 4px;
}

#results {
    display: grid;
        grid-template-columns: repeat(5, 1fr);    gap: 15px;
    margin-top: 20px;
}

.card {
    background: #fafafa;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}


.pagination {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
#getDataButton{
    padding: 8px 12px;
       background: #FEF0F9;
    color: #CE0A86;
    border: 1px solid #CE0A86;
    border-radius: 20px;
    cursor: pointer;
}

#getDataButton:hover {
    background: #CE0A86;
    color: #FEF0F9;
    border: 1px solid #FEF0F9;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid #FEF0F9;
    background: #CE0A86;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}


.pagination button:hover {
    background: #FEF0F9;
    color: #CE0A86;
    border: 1px solid #CE0A86;
}

.pagination button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}